<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Logout</title>
  </head>
  <body>

    <h1>Hey there{{name}}</h1>

    <p>Welcome to this website that doesnt really do anything</p>

    <form class="" action="destroy" method="post">
      <input type="submit" name="logout" placeholder="logout">
    </form>


  </body>
</html>
